header
    h1 Green Mate

    ul
        li
            a(href="/") Home
        li
            a(href="/mypage/") MyPage
        if !user
            li
                a(href="/signup/") Sign Up
            li
                a(href="/login/") Login
        if user
            li
                a(href="/profile/") Profile
            li
                a(href="/logout/") Logout
